:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #ffffff;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #a4a5a7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);

    @media screen and (min-width: 900px) {
        font-size: 75%;
    }
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--greyLight-1);
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 50rem;
    border-radius: 4.2rem;
    box-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
        -.2rem -.2rem 1.8rem var(--white);
}

.deep-eff {
    width: 72.5rem;
    height: 47.5rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    padding: 10px;
    border-radius: 4rem;
}

.other-repots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}

.other-repots .deep-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98.5%;
    width: 98.5%;
    border-radius: 3rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
}

.search-sec {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
}

.search-sec .logo {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
}

.search-contener {
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 20px;
    padding: 10px;
}

.search-sec #search {
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    width: calc(100% - 50px);
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 2rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    color: var(--primary-dark);
    font-family: 'Trebuchet MS';
}

#search::placeholder {
    color: var(--primary);
}

#search:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}


.submit ion-icon {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    padding: 5px;
    border-radius: 50px;
    /* border: 2px solid red; */
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary-dark);
}

.submit ion-icon:active {
    color: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
}

.search-repote {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}

.search-repote .repote-contener {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 99%;
    width: 99%;
    border-radius: 3rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    gap: 20px;
}

.repote-contener,
.show-day,
.show-data,
.show-city {
    border-radius: 1.5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}

.repote-contener div .effect {
    color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 99%;
    border-radius: 1.5rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    font-family: monospace;
}

.show-city .effect {
    overflow: auto;
}

.show-day .day {
    text-align: center;
    padding: 10px;
}

.show-city .effect .city {
    margin: 15px;
}

.repote-contener .show-icon {
    height: 40%;
    width: 50%;
}

.repote-contener .show-icon img {
    border-radius: 3rem;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

.repote-contener .show-data {
    height: 50px;
    width: 90%;
    text-align: center;
}

.repote-contener .data {
    font-size: 1.2rem;
    font-weight: 800;
}

.repote-contener .show-city {
    height: 50px;
    font-size: 2rem;
    text-align: center;
}

.repote-contener .show-day {
    height: 50px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.deep-effect .time-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.deep-effect .time-content .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);

}

.circle .circle-eff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(20rem - 1rem);
    width: calc(20rem - 1rem);
    border-radius: 50%;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    position: relative;
}

.circle-eff .num {
    position: absolute;
    font-size: large;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.num i {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    color: var(--primary);
}

.circle-eff::before {
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary-dark);
}

.circle-eff .niddle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.niddle i {
    position: absolute;
    transform-origin: bottom;
    border-radius: 10px;
    background-color: var(--primary-dark);
}

.hr {
    height: 4rem;
    width: 0.3rem;
}

.min {
    height: 5.5rem;
    width: 0.2rem;
}

.sec {
    height: 6.5rem;
    width: 0.1rem;
}

.circle-eff .dot {
    height: 1rem;
    width: 1rem;
    background-color: var(--primary-dark);
    border-radius: 50%;
}

.digt-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}

.digt-clock .digt-eff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(5rem - 0.5rem);
    width: calc(100% - 1%);
    border-radius: 2rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
}

.digt-eff #hours,
#minutes,
#secound {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 3rem;
    color: var(--primary-dark);
}

.its-conten {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.its-conten .timeper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 20rem;
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    font-size: 3rem;
    color: var(--primary-dark);
}

.timeper .time-eff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(5rem - 0.5rem);
    width: calc(20rem - 0.5rem);
    border-radius: 3rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
}

@media only screen and (max-width: 600px) {

    .container,
    .deep-eff {
        width: fit-content;
        height: fit-content;
    }

    .deep-eff {
        padding: 20px;
    }

    .other-repots {
        display: none;
    }

}